.feature-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 30px;
}
.feature-list__item {
  width: 100%;
  max-width: 450px;
}
.feature-list__wrapper {
  @extend %align;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.feature-list__title {
  margin-bottom: 10px;
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
.feature-list__text {
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .feature-list__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    flex-wrap: nowrap;
  }
  .feature-list__item {
    width: 270px;
  }
}
