.section.team{
    background-color: #F5F4FA;
}
.team-title{
    margin-bottom: 30px;
    @include font(28px, 700, 33px);
    letter-spacing: 0.03em;
    text-align: center;    
}
.team-list{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    width: calc(100% - 90px)/4;
    & .item:not(:last-child){
        margin-right: 30px;
    }
}
.team-list-box{
    padding-top: 30px;
    padding-bottom: 24px;
}
.team-list__item{
    background-color: #FFFFFF;
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list-box__title{
    margin-bottom: 10px;
    @include font(16px, 500, 19px);            
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list-box__text{
    @include font(16px, 400, 19px);    
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--secondary-text-color);
}
.socnetwork{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.socnetwork__link{
    @extend %align;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
        background-color: #2196F3;
        fill: #FFFFFF;
    }  
}
