.button-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
  max-width: 326px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
}
.project-thumb {
  position: relative;
  height: 100%;
}
.project-thumb__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.project-thumb__action {
  position: relative;
  overflow: hidden;
}
.project-thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .project-thumb:hover & {
    transform: translateY(0);
  }
}
.project-thumb__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 410px;
  min-height: 140px;
}
.project-thumb__text {
  @include font(18px, 400, 28px);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.project-list-border {
  flex-grow: 1;
  padding: 20px 24px;
  border-top: none;
  border: 1px solid #eeeeee;
}
.project-list-border__title {
  margin-bottom: 4px;
  @include font(18px, 700, 36px);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-list-border__text {
  @include font(18px, 400, 30px);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 440px) {
  .project-thumb__box {
    min-width: 100%;
    padding: 7vw;
  }
  .project-thumb__text {
    font-size: 4vw;
  }
}

@media screen and (min-width: 768px) {
  .button-list {
    max-width: 100%;
    margin-bottom: 40px;
    justify-content: center;
  }
  .project-thumb__box {
    min-width: 306px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }
  .project-thumb__box {
    min-width: 322px;
    min-height: 168px;
  }
}
