.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
  gap: 8px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.project-list__item {
  margin-bottom: 30px;
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.project-thumb {
  position: relative;
}
.project-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.project-list-action {
  position: relative;
  overflow: hidden;
}
.project-list-action__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .project-thumb:hover & {
    transform: translateY(0);
  }
}
.project-list-action__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 402px;
  min-height: 140px;
}
.project-list-action__text {
  @include font(18px, 400, 28px);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.project-list-border {
  flex-grow: 1;
  padding: 20px 24px;
  border-top: none;
  border: 1px solid #eeeeee;
}
.project-list-border__title {
  margin-bottom: 4px;
  @include font(18px, 700, 36px);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-list-border__text {
  @include font(18px, 400, 30px);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .button-list {
    margin-bottom: 40px;
  }
  .project-list {
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
  }
}
