.work__title {
  margin-bottom: 50px;
  @include font(36px, 700, 42px);
  letter-spacing: 0.03em;
  text-align: center;
}
.work-list {
  display: flex;
  padding-left: 0;
  gap: 30px;
}
.work-list__thumb {
  position: relative;
}
.work-list__box {
  @extend %align;
  position: absolute;
  bottom: 0;
  min-width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-list__text {
  @include font(14px, 700, 16px);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and(max-width: 767px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
