.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #2f303a;
}
.footer .container {
  display: flex;
  flex-direction: column;
  // align-items: baseline;
  // justify-content: space-between;
}
.footer-address {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}
address {
  font-style: normal;
}
.address__text {
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  color: #ffffff;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.address-list__link {
  @include font(14px, 400, 24px);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--main-link-color);
  }
}
.join {
  margin-bottom: 60px;
}
.join__title {
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}
.join-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.join-list__link {
  @extend %align;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #2196f3;
  }
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-form__title {
  display: block;
  margin-bottom: 20px;
  @include font(14px, 700, 16px);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe-form__input {
  width: 450px;
  height: 50px;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.subscribe-form__btn {
  width: 200px;
  height: 50px;
  background-color: var(--main-link-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  @extend %align;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 28px;
}
.subscribe-form__send {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer-address {
    margin-bottom: 0;
  }
  .join {
    margin-bottom: 0;
  }
  .subscribe-form {
    flex-direction: row;
    align-items: flex-end;
  }
  .subscribe-form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
