.header{
    border-bottom: 1px solid #ECECEC;
}
.header .container{
    display: flex;
    align-items: center;
}
.page-navigation{
    display: flex;
    align-items: center;
}
.nav-menu{
    display: flex;
    margin-left: 100px;
    gap: 50px;
}
.nav-menu__link{
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: var(--main-link-color);
    }     
}  
.nav-menu__link_current{
    color: var(--main-link-color);
}
.nav-menu__link_current::after{
    position: absolute;
    content: '';
    display: block;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
}
.contact-list{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
}
.contact-list__icon{
    margin-right: 10px;
    fill: currentColor;
}
.contact-list__link{
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: var(--main-link-color);
    }     
}