.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func) visibility
    var(--transition-dur-and-func);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__container {
  position: relative;
  padding-left: 40px;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 0;
  right: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
}
.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
  padding-top: 10px;
}

.mobile-menu-nav {
  padding-top: 48px;
  padding-bottom: 300px;
}
.mobile-menu-nav__link {
  display: block;
  margin-bottom: 32px;
  @include font(40px, 500, 47px);
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #212121;
  &:hover,
  &:focus{
    color: var(--main-link-color);
  }
}
.mobile-menu-contacts__item {
  margin-bottom: 32px;
}
.mobile-menu-contacts__tel-link {
  @include font(34px, 500, 40px);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  &:hover,
  &:focus{
    color: var(--main-link-color);
  }
}
.mobile-menu-contacts__mail-link {
  @include font(24px, 500, 28px);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  &:hover,
  &:focus{
    color: var(--main-link-color);
  }
}

.mobile-menu-social {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 48px;
}
.mobile-menu-social__link {
  @include font(18px, 500, 22px);
  letter-spacing: 0.02em;
  color: var(--main-link-color);
}
