.modal-form-title {
  @include font(20px, 700, 30px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 10px;
}
.modal-form-field.message {
  margin-bottom: 20px;
}
.modal-form-field-desc {
  display: block;
  @include font(12px, 400, 14px);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.modal-form-wrapper {
  display: block;
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--main-link-color);
  }
}
.modal-form-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form-input:focus + & {
    fill: var(--main-link-color);
  }
}
.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--main-link-color);
  }
  &::placeholder {
    @include font(14px, 400, 16px);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-form-check-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  @include font(12px, 400, 14px);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.modal-form-own-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form-check:checked + & {
    background-color: var(--main-link-color);
    border: none;
  }
  .modal-form-check:focus + & {
    outline: none;
    border-color: var(--main-link-color);
  }
}
.modal-form-own-checkbox-icon {
  display: none;
  .modal-form-check:checked + .modal-form-own-checkbox & {
    display: block;
  }
}
.modal-form-check-policy {
  display: block;
  @include font(12px, 400, 14px);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--main-link-color);
  }
}
.modal-form-send {
  min-width: 200px;
  min-height: 50px;
  align-self: center;
  padding: 10px 52px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px;
  border-radius: 4px;
  @include font(16px, 700, 30px);
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    outline: none;
    border: 1px solid var(--main-link-color);
  }
}
